[package]
name = "ana"
version = "0.9.3"
description = "A judge in Rust"
license = "MIT"
readme = "README.md"
repository = "https://gitlab.com/hr567/Ana"
authors = ["hr567 <hr567@hr567.me>"]
edition = "2018"
build = "build.rs"

[dependencies]
clap = "2.33.0"
futures = "0.1.28"
grpcio = { version = "= 0.4.4", default-features = false, features = ["protobuf-codec"] }
liboj = { version = "0.2.3", features = ["gcc", "gxx"] }
nix = "0.14.1"
protobuf = "2.8.0"
tempfile = "3.0.8"

[dev-dependencies]
serde = { version = "1.0.92", features = ["derive"] }
serde_json = "1.0.39"
lazy_static = "1.3.0"

[build-dependencies]
protoc-grpcio = "1.0.2"
